<html>
<head>
  <title>Square Root</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<h2>Square Root</h2>
<p>The square root of <%= @num %> is <%= @square_root %></p>

</html>
