<html>
<head>
  <title>Square</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<h2>Square</h2>
<p>The square root of your number, <%= @num %> is <%= @square %></p>


</html>
